/*********************/
/*  Global Settings  */
/*********************/

body, html {
    margin: 0px;
    padding: 0px;
}


/***********************/
/*  Section 1 Styling  */
/***********************/

.smallp{
    text-align: center;
    color: whitesmoke;
    letter-spacing: 1em;
    margin-top: 3em;
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.section1{
    height: 100%;
    width: 100%;
}
.bg-wrap{
    background-color: #2F2E33;
}
.cubeis-logo{
    margin-top: 60px;
    position: absolute;
    height: 100%;
    width: 500px;
    opacity: 0;
    display: block;
}
.imgGlobal {
    display: block;
    margin: auto;
}
.cls-1,.cls-2{
    fill:none;
    stroke:#fff;
    stroke-miterlimit:10;
}
.cls-1{
    stroke-width:5px;
}
.cls-2{
    stroke-width:4px;
}
.cls-1edit,.cls-2edit{
  fill: #fff;
  opacity: 0;
}
.cls-1edit{
    stroke-width:5px;
}
.cls2-edit{
    stroke-width:4px;
}
.logo-container{
    height: 150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 600px){
    .logo-container, .cubeis-logo{
        width: 350px;
    }
    .logo-container{
        height: 125px;
    }
    
}
@media(max-width: 462px){
    .logo-container, .cubeis-logo{
        width: 300px;
    }
    .logo-container{
        height: 105px;
    }
}
@media(max-width: 420px){
    .logo-container, .cubeis-logo{
        width: 250px;
    }
    .logo-container{
        height: 90px;
    }
}
@media(max-width: 452px){
    .smallp{
        letter-spacing: 0.7em;
    }
}
@media(min-width: 1920px){
    .smallp{
        letter-spacing: 1.5em;
        font-size: 22px;
    }
    .cubeis-logo{
        margin-top: 100px;
        width: 700px;
    }
    .logo-container{
        height: 300px;
        width: 700px
    }
}

/***********************/
/*  Section 2 Styling  */
/***********************/

.section2{
    height: 100%;
    background-color: #3A5199;
    padding-top: 100px;
    padding-left: 50px;
    position: relative;
    z-index: 1;
}
.section2:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.sec2-txt1, .sec2-txt2, .sec2-txt3{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    display: block;
    line-height: 0.8em;
}
.sec2-txt1{
    font-size: 72px;
    letter-spacing: 0.01px;
    font-weight: 300;
}
.sec2-txt2{
    font-size: 85px;
    font-weight: 500;
}
.sec2-txt3{
    font-size: 140px;
    font-weight: 600;
}
@media(max-width: 1270px){
    .sec2-txt1{
        font-size: 65px;
    }
    .sec2-txt2{
        font-size: 75px;
    } 
    .sec2-txt3{
        font-size: 120px;
    }
}
@media(max-width: 1000px){
    .sec2-txt1{
        font-size: 60px;
    }
    .sec2-txt2{
        font-size: 70px;
    } 
    .sec2-txt3{
        font-size: 100px;
    }
    .sec2-para{
        font-size: 24px !important;
    }
}
@media(max-width: 768px){
    .sec2-txt1{
        font-size: 65px;
        text-align: center;
    }
    .sec2-txt2{
        font-size: 65px;
        text-align: center;
    } 
    .sec2-txt3{
        font-size: 85px;
        text-align: center;
    }
    .section2{
        padding-left: 0px;
    }
    .sec2-para{
        padding-right: 0px !important;
        text-align: center;
    }
    hr{
        float: none !important;
        width: 50% !important;
    }
    .hr-wrapper{
        margin-top: 25px !important;
    }
}
@media(max-width: 670px){
    .sec2-txt1{
        font-size: 45px;
        text-align: center;
    }
    .sec2-txt2{
        font-size: 55px;
        text-align: center;
    } 
    .sec2-txt3{
        font-size: 75px;
        text-align: center;
    }
    .section2{
        padding-left: 0px;
    }
}
@media(max-width: 600px){
    .sec2-txt1{
        font-size: 40px;
        text-align: center;
    }
    .sec2-txt2{
        font-size: 50px;
        text-align: center;
    } 
    .sec2-txt3{
        font-size: 65px;
        text-align: center;
    }
    .section2{
        padding-left: 0px;
    }
}
@media(max-width: 624px){
    .sec2-txt1{
        font-size: 35px;
        text-align: center;
    }
    .sec2-txt2{
        font-size: 38px;
        text-align: center;
    } 
    .sec2-txt3{
        font-size: 50px;
        text-align: center;
    }
    .section2{
        padding-left: 0px;
    }

    .sec4-mainhead{
        font-size: 68px !important;
    }
    .sec3-1-mainhead{
        font-size: 68px !important;
    }
    .sec3-mainhead{
        font-size: 68px !important;
    }
    .contactText{
        text-align: center;
    }
    .contact-pad{
    padding-right: 15px !important;

}
}
.hr-wrapper{
    width: 100%;
    height: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
}
hr{
    height: 1px;
    width: 30%;
    float: left;
    background-color: white;
    display: block;
}
.sec2-para{
    display: block;
    font-size: 28px;
    color: #d6d8ff;
    font-family: 'Open Sans', sans-serif;
    padding-right: 15%;
    
}


/***********************/
/*  Section 3 Styling  */
/***********************/

.section3{
    height: auto;
    width: 100%;
    color: whitesmoke;
    overflow: auto;
    display: block;
}
.parallax { 
    /* The image used */
    background-image: url("../images/landing1-bluegrad-downscaled.jpg");
    /* Full height */
    height: auto; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec3-mainhead{
    font-weight:300;
    padding-top:5%;
    text-align: center;
    color: #ffffff;
    font-size: 74px;
    font-family: 'Montserrat' , sans-serif;
}
.card{
    background-color: transparent;
    width: 95%;
    border: 0px;
}
.service-wrapper{
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 50px;
}
.margin-right{
    margin-right: 5%;
}
.margin-left{
    margin-left: 5%;
}
.margin-top{
    margin-top: 3%;
}
.ico-head{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
@media(max-width: 540px){
    .card{
        width: 100%;
    }
    .margin-right{
        margin-right: 0px
    }
    .margin-left{
        margin-left: 0px;
    }
    .service-wrapper{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width: 1098px){
    .ico{
        font-size: 2em !important;
    }
    .ico-head{
        font-size: 1.5em;
    }
}
@media(max-width: 970px){
    .ico{
        font-size: 1.8em !important;
    }
    .ico-head{
        font-size: 1.3em;
    }
    .service-txt{
        font-size: 14px;
    }
}


/*************************/
/*  Section 3-1 Styling  */
/*************************/

.skillsec-wrapper{
    background: #3A5199;
    height: auto;
    margin-bottom: 200px;
}
.prog-circle {
    width: auto;
    height: auto;;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.progbar{
    padding:5%;
}
.sec3-1-mainhead{
    padding-top:5%;
    margin-bottom: 2%;
    font-weight:300;
    text-align: center;
    color: #fff;
    font-size: 74px;
    font-family: 'Open Sans' , sans-serif;
}
.prog-head{
    text-align: center;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}



/***********************/
/*  Section 4 Styling  */
/***********************/

.section4{
    background: #D5D6D2;
    height: auto;
    position: relative;
    padding-bottom: 100px;
    z-index: 1;
}
.sec4-mainhead{
    padding-top:5%;
    margin-bottom: 3%;
    font-weight:300;
    text-align: center;
    color: #2F2E33;
    font-size: 74px;
    font-family: 'Open Sans' , sans-serif;
}
.color-form{
    background-color: #2F2E33;
    border-radius: 0px;
    border: 1px solid #333;
    height: 45px;
}
.form-edit{
    width: 100% !important;
}
.color-form1{
    background-color: #2F2E33;
    border-radius: 0px;
    border: 1px solid #2F2E33;
}
.contactText{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
.btn-color{
    background-color: #2F2E33;
    border: 1px solid #2F2E33;
}
.contact-pad{
    padding-right: 50px;

}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999 !important;
}

/********************/
/*  Footer Styling  */
/********************/

.footer-sec{ 
    z-index: -1
}
.footer-bg{
    background-color: #2F2E33; 
    height: auto;
    padding-bottom: 20px;
        
}
.footer-logo{
    margin-top: 40px;
    width: 300px;
    float: left;

}
.footer-para{
    float: right;
    font-weight: 300;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: #D5D6D2;
    margin-right: 30px;
    margin-top: 40px;
}
.footer-para-head{
    
    font-size: 19px;

}
.foot-text{
    color: #D5D6D2;
    margin-top: 110px;
    margin-bottom: 20px;
    float: left;
    position: absolute;
}
@media(max-width:576px){
    .footer-logo{
        width: 250px;
        display: block;
    }
}
@media(max-width: 675px){
    .footer-para{
        float: left;
        margin-top: 60px;
    }
    .footer-logo{
        margin-right: 100%;
    }
}


/****************************************************/
/*  Queries for responsive design on large screens  */
/****************************************************/

@media(min-width: 1600px){
     .sec3-mainhead, .sec3-1-mainhead, .sec4-mainhead{
        font-size: 86px;
    }
    .smallp{
        letter-spacing: 1.5em;
        font-size: 20px;
    }
    .cubeis-logo{
        margin-top: 100px;
        width: 600px;
    }
    .logo-container{
        height: 250px;
        width: 600px
    }
    .sec2-txt1{
        font-size: 85px;
    }
    .sec2-txt2{
        font-size: 100px;
    }
    .sec2-txt3{
        font-size: 165px;
    }
    .sec2-para{
        font-size: 40px;
    }
    .ico{
        font-size: 4em !important;
    }
    .ico-head{
        font-size: 2.3em
    }
    .service-txt{
        font-size: 25px;
    }
    .color-form{
        height: 55px;
    }
    .contactText{
        font-size: 30px;
    }
}
@media(min-width: 1920px){
     .sec3-mainhead, .sec3-1-mainhead, .sec4-mainhead{
        font-size: 95px;
    }
    .sec2-txt1{
        font-size: 100px;
    }
    .sec2-txt2{
        font-size: 120px;
    }
    .sec2-txt3{
        font-size: 185px;
    }
    .sec2-para{
        font-size: 40px;
    }
    .ico{
        font-size: 5em !important;
    }
    .ico-head{
        font-size: 3em
    }
    .service-txt{
        font-size: 30px;
    }
    .color-form{
        height: 65px;
    }
    .contactText{
        font-size: 40px;
    }
}